html {
  margin: 0;
} 
body {
  margin: 0;
  overflow: hidden;
}

.Container {
  display: flex;
  background-color: #5A6073;
  width: 100%;
  height: 100vh;
}

.Todo {
  margin: auto;
  width: 500px;
  border-radius: 8%;
}