.header {
  background-color: var(--color-bg-dark);
  display: flex;
  justify-content: space-between;
  padding: 0 2%;
  border-radius: 10px 10px 0 0;
}

.setting {
  display: flex;
  align-items: center;
  padding-left: 1%;
}

.tabs {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 0px;
}

.tabs li {
  margin: 2%;
  padding: 2%;
  color: var(--color-accent);
  font-weight: 600;
  cursor: pointer;
}

.tab_active {
  text-decoration: underline;
  text-underline-position:under;
  text-decoration-color: var(--color-text);
}

.list {
  background-color: var(--color-bg);
  height: 400px;
  overflow-y: auto;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 2% 2%;
}

.item:first-of-type {
  margin-top: 10px;
}

.item:last-of-type {
  margin-bottom: 10px;
}

.checkBox {
  width: 19px;
  height: 14px;
  accent-color: var(--color-accent);
  cursor: pointer;
}

.item {
  font-size: 18px;
  cursor: pointer;
}

.text {
  color: var(--color-text);
}
.done {
  text-decoration-line: line-through;
  color: gray;
}

.icon {
  display: flex;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  background-color: #5A6073;
  color: white;
  font-size: 12px;
  cursor: pointer;
}

.footer {
  background-color: var(--color-bg-dark);
  display: flex;
  justify-content: center;
  border-radius: 0 0 10px 10px;
  padding: 2%;
}

.inp {
  height: 35px;
  width: 80%;
  border-radius: 5px 0 0 5px;
  border: none;
  padding-left: 10px;
}

/* .inp::placeholder {
  padding-left:10px;
} */

.inp:focus {
  outline: none;
}

.btn {
  display: flex;
  border: 0;
  justify-content: center;
  align-items: center;
  background-color: var(--color-accent);
  color: white;
  width: 20%;
  height: 37px;
  border-radius: 0 5px 5px 0;
  font-weight: 600;
}